* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.todo-app {
    width: 100%;
    max-width: 540px;
    background: #fff;
    padding: 40px 30px 70px;
    margin-top: 30px;
    border-radius: 10px;
    position: relative;
}

.todo-app h2 {
    color: #002765;
    margin-bottom: 20px;
    text-align: center;  
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #edeef0;
    border-radius: 30px;
    padding: 5px 20px;
    margin-bottom: 25px;
    position: sticky;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 400;
}

button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
}

button:hover {
    background: #e04d3d;
}

ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 40px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.task-text::before {   
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 8px;
}

.task-text.checked::before{
    background-image: url(images/checked.jpg);
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background: #eddef0;
    border-radius: 5px;
}

.task-text {
    flex: 1;
    margin-left: 20px;
}

.task-text.checked {
    color: #555;
    text-decoration: line-through;
}

.delete-btn,
.edit-btn,
.save-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-btn {
    background-color: #4caf50;
}

.save-btn {
    background-color: #ff5945;
}

.delete-btn:hover,
.edit-btn:hover,
.save-btn:hover {
    background: #eddef0;
}

